<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
</head>
<body>
    <header>
        <div>
            <img src="/images/logo-mercado-liebre.svg" alt="">
        </div>
        <div>
            <form action="">
                <input type="text">
                <button>Buscar</button>
            </form>
        </div>
        <p>Comprá en cuotas y sin tarjeta de crédito</p>
        <nav>
            <ul>
                <li><a href=""></a>Ofertas</li>
                <li><a href="">Tiendas oficiales</a></li>
                <li><a href=""></a>Vender</li>
                <li><a href=""></a>Ayuda</li>
            </ul>
            <ul>
                <li><a href=""></a>Creá tu cuenta</li>
                <li><a href=""></a>Ingresá</li>
                <li><a href=""></a>Mis compras</li>
            </ul>
        </nav>
    
    </header>
        <main>
            <section>

            </section>
            <section>

            </section>
        </main>
    <footer>

    </footer>
</body>
</html>